/* Write your CSS here */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, white, orange);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.popup-body {
  position: relative;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  height: 75vh;
}

.website-logo {
  width: 60px;
}

.menu-list {
  list-style-type: none;
}
.trigger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
/* Menu Options */
.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #333;
  margin-left: 10px;
}

.nav-link {
  list-style-type: none;
  text-decoration: none;
}
